.carousel-container {
  width: 80%;
  max-width: 80%;
  height: 500px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000;
  margin-bottom: 25px;
}

.current_carousel_img {
  max-height: 90%;
  max-width: 70%;
}

.current_carousel_img:hover {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  max-height: 80vh;
  max-width: 70vw;
  z-index: 999;
}

.carousel-before,
.carousel-after {
  background: none;
  cursor: pointer;
  width: auto;
  padding: 16px;
  margin: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 10px;
  user-select: none;
  border-color: #fff;
  font-size: 3em;
  font-style: normal;
}

.arrow:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}