@font-face{
    font-family : "Sarabun";
    src: local("Sarabun"), url("../font/Sarabun-Light.ttf")
}

@font-face{
  font-family : "Raleway";
  src: local("Raleway"), url("../font/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Caveat Brush";
  src: local("Caveat-Brush"), url("../font/CaveatBrush-Regular.ttf");
}