.horizontal-list{
  margin : auto;
  text-align : center;
  display : flex;
  padding-left : 0;
  margin-left : 15px;
  flex-wrap : wrap;
  height : auto;
  width : 80%;
}

.horizontal-list img{
  text-align : center;
  margin : 0;
  margin-right : 5px;
  list-style : none;
  height : 2em;
}
  
.prog_lang{
  height : 100%;
}

.prog_lang:hover{
  transform : scale(1.25);
}
