.horizontal-list{
  margin : auto;
  text-align : center;
  display : flex;
  align-items: center;
  justify-content: center;
  padding-left : 0;
  flex-wrap : wrap;
  height : auto;
  width : 80%;
}

.horizontal-list img{
  text-align : center;
  margin : 0;
  margin-right : 5px;
  list-style : none;
  height : 3em;
}
  
.prog_lang{
  height : 100%;
}

.prog_lang:hover{
  transform : scale(1.25);
}
