:root{
    --sgdf-color-lj: #ff8300;
    --sgdf-color-sg: #0077b3;
    --sgdf-color-pc: #d03f15;
    --sgdf-color-cp: #007254;
    --sgdf-color-main: #003a5d;
    --sgdf-color-main-dark: #001a30;
    --sgdf-font-text: "Sarabun";
    --sgdf-font-title: "Raleway";
}

body{
    margin: 0;
    padding: 100px 0;
    font-family: var(--sgdf-font-text);
}

header, footer{
    background-color: var(--sgdf-color-main-dark);
    width: 100vw;
    height: 100px;
    position: fixed;
    color: #fff;
}

footer{
    bottom: 0;
}

header{
    top: 0;
}

.flexer{
    display : flex;
    align-items: center;
    justify-content: center;
}

div.main{
    padding: 10px 25px;
}

a:not(.normal), a:not(.normal):visited{
    color:#fff;
    font-style: italic;
}

header h1{
    font-family: var(--sgdf-font-title);
}

h1, h2, h3{
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p, li, a{
        font-family: var(--sgdf-font-text);
}

div.block{
    width: 80%;
    height: auto;
    padding: 25px;
    margin: auto;
    margin-top: 25px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 2em;
    color: #003a5d;
    box-shadow: 0 0 10px #000;
}
